<div class="project-list">
  {{#posts}}
  <div class="project-card">
    <div class="post-header">
      <span class="post-date">{{date}}</span>
      <span class="post-separator"> · </span>
      {{#readingTime}}<span class="reading-time">{{readingTime}} min read</span><span class="post-separator"> ·
      </span>{{/readingTime}}
      {{#href}}<a href="{{href}}">{{title}}</a>{{/href}}{{^href}}{{title}}{{/href}}
    </div>
    <p>{{summary}}</p>
    <footer class="post-footer">
      {{#tags}}<span class="post-tag">#{{.}}</span>{{/tags}}
    </footer>
  </div>
  {{/posts}}
</div>